<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
        body{
            font-family: 'Unbounded', cursive;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <center>
    Welcome to FilmHelper
    <button onclick="location.replace('/signup')">Signup</button>
    <button onclick="location.replace('/login')">Login</button>
    </center>
</body>
</html>